
.FormLogin {
    width: 250px;
    height: 230px;
   padding: 2px;
   margin: 2px;
   background-color: var(--bg);
   box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px 1px rgba(0, 0, 0, 0.06); 

}

.navbar-login{
    display: flex; 
    padding-top: 10px;
    

}

.navbar-login a {
    text-decoration: none;
    padding: 0 20px ;
    color: var(--color-Link_nav);
}





@media screen and (max-width: 500px)  {
   
    .FormLogin {
        background-color: rgba(37, 37, 37, 0.8);
        opacity: 1;
        width: 80vw;
        height: 100%;
        padding: 50px 0px 20px ;
        color: rgb(228, 229, 230);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    
    .navbar-login    {
     display: flex;
     flex-direction: column;
    
    }
    .navbar-login > a    {
     padding: 5px 0;
     color: aliceblue;
     font-size: 1.2rem;
    }
}