.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 40px 0;
  padding: 10px;
}


.cardAll {
  display: inline-block;
  width: 20%;
  margin: 0 10px;
  text-align: center;
  height: 180px;
  padding: 5px;
  box-shadow: var(--bshadw);
} 

.cardAll > img {
  height: 100%;
  
  max-width: 100%;
}
.cardAll .container-card {
  color: rgb(130, 131, 133);
  
}

.container-card > h4 {
  padding: 5px 0;
  
}

@media screen and (max-width: 768px) {
  .cardAll {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 10px auto;
  }

  .cardAll > img {
   width: 35%;
   /* height: 40vh; */
   margin: 0 auto;
  }
}


@media screen and (max-width: 468px) {
  

  .cardAll > img {
   width: 65%;
   
  }
}